/* styles.css */

/* Resetowanie domyślnych stylów przeglądarki */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stylizacja ciała dokumentu */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

/* Stylizacja nawigacji */
nav {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #555;
}

/* Stylizacja sekcji głównej */
main {
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Stylizacja nagłówka głównej sekcji */
main h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Stylizacja artykułów postów */
.post {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.post h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.post h2 a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
}

.post h2 a:hover {
    color: #007BFF;
}

.post p {
    margin-bottom: 10px;
}

.post p:last-child {
    margin-bottom: 0;
}

img {
    display: block;
    border-radius: 12px;
    width: 100%;
    max-width: 800px;
    height: auto;
}

/* Stylizacja formularza */
form {
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Stylizacja pól formularza */
form input[type="text"], form input[type="password"], form input[type="email"], form select, form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Stylizacja przycisku */
form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #007BFF;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

form button:hover {
    background: #0056b3;
}

/* Stylizacja błędów formularza */
.errorlist {
    color: red;
    list-style-type: none;
    padding: 0;
}

.errorlist li {
    margin: 5px 0;
}
